

.Main {
    display: grid;
   --brand: #76ba16;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  
  grid-template-areas:
    "ws1 content ws2"
    "ws1 results ws2"
}

