

.Main {
    font-family: sans-serif;
    margin-top:35px;
    grid-area: content
}

@media (max-width: 500px) {
    .Main {
      
        
    }
}

.fadeoutleft {
    animation: fadeOutLeft 282ms forwards;
    
}
@keyframes fadeOutLeft {
    0% {
       opacity: 1;
       transform: translateX(0);
    }
    100% {
       opacity: 0;
       transform: translateX(-20px);
    }
 } 