:root {
    --brand: #76ba16;
}

.Main {
    display: grid;
    font-family: sans-serif;
    margin-top:35px;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto;
  
  grid-template-areas:
    "ws1 content ws2"
    "ws1 results ws2"
}

@media (max-width: 500px) {
    .Main {
        
      grid-template-columns: 1fr;
      
      margin:0 7px;
      grid-template-areas:
        "content"
        "results"
    }
}

.fadeoutleft {
    animation: fadeOutLeft 282ms forwards;
    
}
@keyframes fadeOutLeft {
    0% {
       opacity: 1;
       transform: translateX(0);
    }
    100% {
       opacity: 0;
       transform: translateX(-20px);
    }
 } 