.singleQuestion {
    grid-area: content;
    text-align: center;
    
}

.singleQuestion button {
    display:block;
    margin: 10px auto;
    padding: 10px 8px;
    border: none;
    width: 100%;
    color: white;
    background-color: var(--brand, red);
    border-radius: 10px; 
    font-weight: 700;
    font-size: 18px;
}